
<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">

    <style>
        /* Style.css */
.text-container {
    /* text-align: center;Center-align the text horizontally */
    text-align: center; /* Center-align the text horizontally */
    margin: 40 auto;
    /* margin: 50 50 100 50; */

    margin-top: 70px;
}

    </style>
    </head>
    <body>
<div class="logo">
  <img src="/static/images/logo1.png" alt="Logo">

<nav class="style-3">
  <!-- <h1 class="site-title">BlogVerse</h1> -->
  <ul class="menu-3">
  <li><a href="/home">Home</a></li>
  <li><a href="/blogs">Blogs</a></li>
  <li><a href="/premium">Premium</a></li>
  <li><a href="/aboutus">About</a></li>
  <li><a href="/logout">Log Out</a></li>
  </ul>
</nav>
</div>

<!-- Main -->
<!-- <main id="main" class  ="flexbox-col"> -->
  <!-- <h2>Lorem ipsum!</h2> -->
  <div class="text-container">
  <h2>WELCOME TO BLOG VERSE</h2>
  <br>
  <br>
  <p> <br>Your Gateway to High-Quality Blog Content. Looking for expertly crafted blog posts to engage your readers and boost your online presence?</p>
	<p>Discover our professional blog writing services, where we turn your ideas into captivating and informative blog posts.</p>
	<p>Join us on a journey of creativity and excellence in content writing.</p>
<!-- </main > -->
</div>
</body>
</html>