
<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">

    <style>
        /* Style.css */
.text-container {
    /* text-align: center;Center-align the text horizontally */
    text-align: center; /* Center-align the text horizontally */
    margin: 40 auto;
    /* margin: 50 50 100 50; */

    margin-top: 150px;
}

    </style>

<div class="back"></div>
<nav>
  <a href="/home">Home</a>
  <a href="/blogs">Blogs</a>
  <a href="#">Premium</a>
  <a href="/aboutus">About</a>
  <a href="/logout">Logout</a>
</nav>

<!-- Unsplash copyright -->
<!-- <a class="thx" style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px;"
 href="" target="_blank" rel="noopener noreferrer" 
 title="Download free do whatever you want high-resolution photos from paul morris"> -->
 <!-- <span style="display:inline-block;padding:2px 3px;"> -->
  <!-- <svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-1px;fill:white;" viewBox="0 0 32 32"> -->
    <!-- <title></title>s</a> -->



</head>
<body>
<!-- Main -->
<!-- <main id="main" class  ="flexbox-col"> -->
  <!-- <h2>Lorem ipsum!</h2> -->
  <div class="text-container">
  <h2>WELCOME TO BLOG VERSE</h2>
  <br>
  <br>
  <p> <br>Your Gateway to High-Quality Blog Content. Looking for expertly crafted blog posts to engage your readers and boost your online presence?</p>
	<p>Discover our professional blog writing services, where we turn your ideas into captivating and informative blog posts.</p>
	<p>Join us on a journey of creativity and excellence in content writing.</p>
<!-- </main > -->
</div>
</body>
</html>