<!DOCTYPE html>
<html>
<head>
    <title>Object Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">

    <div class="back"></div>
    <nav>
    <a href="/home">Home</a>
    <a href="/blogs">Blogs</a>
    <a href="/premium">Premium</a>
    <a href="/aboutus">About</a>
    <a href="/logout">Logout</a>
    </nav>
</head>
<body>
    <h1>Upload an image for object detection</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*">
        <input type="submit" value="Detect Objects">
    </form>
</body>
</html>
